@using System.Linq
@model Domain.Entities.Cart

@{
    ViewBag.Title = "View";
}


<script type="text/javascript">
    function OnSuccessCreate(data) {
        var results = $('#OrderCompliteMessage'); // получаем нужный элемент
        results.empty(); //очищаем элемент
        results.append(data.Message); // добавляем данные в список
    }
</script>



@if (Model == null || !Model.Lines.Any())
{
    <div class="alert alert-info">Корзина пуста</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Продукт
                </th>
                <th>
                    Цена
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Действие
                </th>
            </tr>
        <thead>

        <tbody>
            @Html.Partial("_CartTablePartial", Model)
        </tbody>
    </table>
}

<br>
@*//TODO: форму с заполненем адреса вставлять через @Ajax.ActionLink()*@
<div id="OrderCompliteMessage">
    @using (Ajax.BeginForm("CreateOrder", new AjaxOptions { Confirm = "Сформировать заказ ?", OnSuccess = "OnSuccessCreate" }))
    {
        <ul>
            <li>
                @Html.Label("адресс")
                @Html.Editor("AdressLine")
            </li>

            <li>
                @Html.Label("Город")
                @Html.Editor("City")
            </li>

            <li>
                @Html.Label("ZIP коде")
                @Html.Editor("ZipCode")
            </li>
        </ul>

        <input type="submit" value="Заказать" class="btn btn-default" />
    }
</div>

<br>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

