@using PagedList.Mvc;
@using PagedList;

@model IPagedList<Domain.Entities.Product>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@*<script type="text/javascript">
    function addToCart(productId)  {
    
        $.ajax({
            url: "/Cart/Add/" + productId,
            type: "POST"
        }).done(function (data) {            
            //alert(data.Total);           
            $('#shopCartBtn').text('В корзину (' + data.Total + ') Руб.');
        });
    };
</script>*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>



<ul>

    @foreach (var item in Model)
    {
        <li class="item">
            <div class="item-imageblock">
                <img class="item-imageblock-img" src="@item.PictureRef" alt="Изображение" title="Картинка" />
            </div>

            <div class="item-descblock">
                @Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { @class = "item-descblock-title" })

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })


                <div>
                    Описание товара отсутствует
                </div>
            </div>

            <div class="item-priceblock">

                <div class="item-priceblock-price">
                    @Html.DisplayFor(modelItem => item.UnitPrice, "money")
                </div>

                @*<div class="item-priceblock-buybutton">
                    <input type="button" class="btn btn-success" value="В корзину" onclick="addToCart(@item.Id)" />
                </div>*@

            </div>
            
        </li>
    }
</ul>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


