@model System.Collections.Generic.IEnumerable<Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function addToCart(productId)  {
    
        $.ajax({
            url: "/Cart/Add/" + productId,
            type: "POST"
        }).done(function (data) {
            
            alert(data.Total);
            

            $('#shopCartBtn').html(data.Total);


        });
    }

    
    

   
</script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content("~/Content/Images/product_stub.png")"/>
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>


            <td>
                @*@using (Html.BeginForm("Add", "Cart"))
                {
                    <div>
                        @Html.Hidden("productId", item.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Добавить"/>
                    </div>
                }*@

                <input type="button" class="btn" value="В корзину" onclick="addToCart(@item.Id)" />
            </td>

        </tr>
    }
</table>



